[user]
	name = Bernie Gray
	email = bfgray3@gmail.com
[alias]
	s = status
	d = diff
	l = log --all --graph --decorate
	b = branch
	poh = push origin HEAD
	rph = rev-parse HEAD
	# TODO: parametrize this for default branch name and maybe remote name
	cob = "!git fetch origin main && git checkout origin/main -b \"$1\" #"
	merge-main = "!git fetch origin main && git merge origin/main"
[core]
	editor = vim
[fetch]
	prune = true
